$mainColor: #3981fc;

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

em,
i {
    font-style: normal;
}

li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: 0 none;
}

a {
    color: $mainColor;
    text-decoration: none;
    &:hover {
        color: $mainColor;
    }
}

input,
textarea {
    background-color: transparent;
    &:focus-visible {
        outline: none;
    }
}

body {
    background-color: #fff;
    font: 14px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, \\5B8B\4F53, sans-serif;
    color: #333;
}

.tc {
    text-align: center;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

canvas {
    width: 100%;
    object-fit: contain;
    max-height: 100vh;
}