@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #f1f1f1;
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    height: 20px;
    border-radius: 5px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #c1c1c1;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}


@mixin pic2x {
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    background-size: cover;
    @content;
  }
}
